    @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Dots&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
    }
    
     :root {
        --main-color: #54A232;
        --text-color: #9e9c9c;
    }
    
    body {
        font-family: sans-serif;
        font-size: 14px;
        accent-color: #54A232;
        font-family: 'Inter', sans-serif;
    }
    
    html::-webkit-scrollbar {
        width: 6px;
    }
    
    html::-webkit-scrollbar-track {
        background: transparent;
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }
    
    table {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: column;
        margin: 20px;
        table-layout: fixed;
    }
    
    thead {
        background-color: #f3f3f3;
        border-radius: 8px 8px 0px 0px;
    }
    
    thead>tr {
        border-radius: 8px 8px 0px 0px;
        font-weight: bold;
        color: black;
    }
    
    tr {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border: 1px solid #e1e1e1;
        margin-top: -1px;
        color: #535353;
        text-align: center;
    }
    
    tbody tr:hover {
        background-color: #f6f6f6;
    }
    
    td,
    th {
        width: 20%;
    }
    
    .first {
        text-align: center;
    }
    
    .second {
        text-align: center;
    }
    
    .third {
        text-align: center;
    }
    
    .fourth {
        text-align: center;
    }
    
    .fifth {
        text-align: center;
    }
    
    .sixth {
        text-align: center;
    }
    
    input[type="submit"] {
        background-color: #54A232;
        border: none;
        width: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 8px;
        color: white;
    }
    /* Responsive styles */
    
    @media (max-width: 600px) {
        table {
            grid-column: 2 / 3;
            display: flex;
            flex-direction: column;
            margin: 20px;
            text-align: left;
        }
        tr {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .first,
        .second,
        .third,
        .fourth,
        .fifth,
        .sixth {
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 640px) {
        table {
            display: block;
            width: 100%;
        }
        td,
        th {
            display: block;
            width: 100%;
        }
        /* Hide the table header */
        thead {
            display: none;
        }
        /* Make the table cells full width */
        tr {
            display: flex;
            flex-direction: row;
        }
        /* Style the table cells */
        td {
            flex: 1;
            border: none;
            text-align: left;
        }
    }