.row {
    width: 100%;
}

:root {
    --main-color: #54A232;
    --text-color: #9e9c9c;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}