@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

:root {
    --main-color: #54A232;
    --text-color: #9e9c9c;
}

body {
    background-image: url("../Images/Untitled\ design\ \(47\).png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: local;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.btn {
    border: none;
}

.hero img {
    position: relative;
    top: 110px;
    width: max-content;
    height: 600px;
}

.hero h2 {
    color: var(--main-color);
    font-family: 'Send Flowers', cursive;
    font-weight: 700;
    position: relative;
    top: 110px;
    font-size: 250%;
}

.herodes p {
    color: var(--main-color);
    font-family: 'Chivo Mono', monospace;
    position: relative;
    top: 110px;
    padding: 50px;
    font-size: large;
}

.herodes button {
    position: relative;
    top: 80px;
}

.abtcontent h2 {
    color: var(--main-color);
    font-family: 'Send Flowers', cursive;
    font-weight: 700;
    font-size: 250%;
    text-align: left;
    position: relative;
    top: 30px;
}

.abtcontent p {
    color: var(--main-color);
    font-family: 'Chivo Mono', monospace;
    text-align: left;
    float: left;
    padding: 50px;
    font-size: large;
}

.abtbtn {
    margin-left: 50px;
    margin-top: -30px;
}